body {
  overflow-y: hidden;
  background-color: #191963;
/*   margin: 0.01em; */
}

h1 {
  font-family: Helvetica;
  color: #E6E6A0;
  font-weight: bold;
  font-size: 4.5em;
  font-variant: small-caps;
  text-shadow: 2px 2px grey;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
   position: absolute;
  z-index: -11;
  margin: 0;
  float: left;
  top: 43%;
}

#sun {
  height: 4em;
  width: 4em;
  display: block;
  border-radius: 100px;
  margin: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: -webkit-linear-gradient(left top, orange , yellow);
 /* For Safari */
  background: -o-linear-gradient(bottom right, orange, yellow);
 /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, orange, yellow);
 /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, orange 25%, yellow 75%);
 /* Standard syntax */
  transition: height 1s,width 1s;
  -webkit-transition: height 1s,width 1s;
 /* Safari */
  box-shadow: 2px 2px 60px 20px orange;
}

#sun:hover {
  height: 4.9em;
  width: 4.9em;
}

#mercury-orbit, #venus-orbit, #earth-orbit, #moon-radius,
#mars-orbit, #asteroids, #jupiter-orbit, #saturn-orbit,
#uranus-orbit, #neptun-orbit, #pluto-orbit  {
  height: 8em;
  width: 8em;
  border-color: grey;
  border-style: solid;
  border-radius: 100%;
  border-width: 1px;
  z-index: -1;
	/*WEBKIT*/
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: orbit;
  -webkit-animation-duration: 5s;
	/*IE*/
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: orbit;
  animation-duration: 5s;
  margin: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

#mercury, #venus, #earth, #moon, #mars, #jupiter, #uranus,
#neptun, #pluto  {
  height: 1em;
  width: 1em;
  background-color: #FFBF94;
  border-radius: 100px;
  z-index: -1;
  margin: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: -100%;
  right: 0%;
}

#mercury-orbit:hover, #venus-orbit:hover, #earth-orbit:hover,
#mars-orbit:hover, #jupiter-orbit:hover, #saturn-orbit:hover,
#uranus-orbit:hover, #neptun-orbit:hover, #pluto-orbit:hover {
  border-color: orange;
  border-width: 2px;
}

#mercury-orbit:hover #mercury, #venus-orbit:hover #venus, 
#earth-orbit:hover #earth, #mars-orbit:hover #mars, 
#jupiter-orbit:hover #jupiter, #uranus-orbit:hover #uranus,
#neptun-orbit:hover #neptun, #pluto-orbit:hover #pluto {
  height: 1.7em;
  width: 1.7em;
}

#venus-orbit {
  height: 11.5em;
  width: 11.5em;
  z-index: -2;
	/*WEBKIT*/
  -webkit-animation-duration: 8s;
	/*IE*/
  animation-duration: 8s;
}

#venus {
  background-color: #FFF0F0;
  z-index: -2;
}

#earth-orbit {
  height: 15em;
  width: 15em;
  z-index: -3;
	/*WEBKIT*/
  -webkit-animation-duration: 12s;
	/*IE*/
  animation-duration: 12s;
}

#earth {
  background-color: #6666FF;
  z-index: -3;
}

#moon {
  height: 0.3em;
  width: 0.3em;
  background-color: #FFFFE0;
  z-index: -4;
}

#moon-radius {
  height: 1em;
  width: 1em;
  border-style: none;
  z-index: -4;
	/*WEBKIT*/
  -webkit-animation-duration: 2s;
	/*IE*/
  animation-duration: 2s;
}

#mars-orbit {
  height: 19em;
  width: 19em;
  z-index: -5;
  background-color: #191963;
	/*WEBKIT*/
  -webkit-animation-duration: 20s;
	/*IE*/
  animation-duration: 20s;
}

#mars {
  background-color: #FF6262;
  z-index: -5;
}

/* TODO  */
#asteroids {
  height: 22.6em;
  width: 22.6em;
  border-style: none;
  background: url(../images/asteroids1.svg);
  background-size: 35px 35px;
  background-repeat: repeat;
  z-index: -7;
	/*WEBKIT*/
  -webkit-animation-duration: 50s;
	/*IE*/
  animation-duration: 50s;
}

#jupiter-orbit {
  height: 23em;
  width: 23em;
  z-index: -6;
	/*WEBKIT*/
  -webkit-animation-duration: 30s;
	/*IE*/
  animation-duration: 30s;
}

#jupiter {
  background-color: #FFFFA9;
  z-index: -6;
}

#saturn-orbit {
  height: 27em;
  width: 27em;
  z-index: -7;
	/*WEBKIT*/
  -webkit-animation-duration: 60s;
	/*IE*/
  animation-duration: 60s;
}

/* SVG */
#saturn {
  margin-left: -1em;
  margin-top: 12.8em;
}

/* SVG */
#saturn-orbit:hover #saturn {
  height: 2.5em;
  width: 2.5em;
}

#uranus-orbit {
  height: 31em;
  width: 31em;
  z-index: -8;
	/*WEBKIT*/
  -webkit-animation-duration: 70s;
	/*IE*/
  animation-duration: 70s;
}

#uranus {
  background-color: #33CCFF;
  z-index: -8;
}

#neptun-orbit {
  height: 35em;
  width: 35em;
  z-index: -9;
	/*WEBKIT*/
  -webkit-animation-duration: 100s;
	/*IE*/
  animation-duration: 100s;
}

#neptun {
  background-color: #6666FF;
  z-index: -9;
}

#pluto-orbit {
  height: 39em;
  width: 39em;
  z-index: -10;
	/*WEBKIT*/
  -webkit-animation-duration: 120s;
	/*IE*/
  animation-duration: 120s;
}

#pluto {
  background-color: #8D1919;
  z-index: -10;
}
	
/*WEBKIT*/
@-webkit-keyframes orbit {
 
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

/*IE*/
@keyframes orbit {
 
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
